- if game.setup?
  .status
    %h4 This game has not yet begun.

    - if logged_in? && game.players.include?(current_user.active_player)
      %p You're scheduled to play in this game, once it starts.

      - if !game.invite_only? || (game.owner == current_user)
        %p= "Why not #{link_to('invite some of your friends', new_game_invitation_path(game))} to play too?"

      - if game.startable? && (game.owner == current_user)
        %p= "This game is ready to begin. You can start it now, or wait for more players."
        %p= button_to('Start Game Now', start_game_path(game))

    - elsif game.invite_only?
      - if !logged_in?
        %p This is a private game. You must have an invite to join.
        %p= "Do you have an invite? #{link_to('Login to find out', login_path)}"

      - elsif invitation = game.invitations.for_user(current_user)
        %p= "#{invitation.invited_by.login} has invited you to join this game!"

        - if current_user.active_player.nil?
          %p= button_to('Join Game', game_players_path(game))
        - else
          %p= "However, you're already participating in #{link_to('another game', game_path(current_user.active_player.game))}. You can only play in one game at a time."

      - else
      %p Sorry, this game is invitation-only.
          
    - else
      %p= "This is an open game and We're currently looking for players!"
      - if logged_in? && current_user.active_player.nil?
        %p= button_to('Join Game', game_players_path(game))
      - elsif logged_in?
        %p= "But you're already participating in #{link_to('another game', game_path(current_user.active_player.game))}. You can only play in one game at a time."
      - else
        %p= "Want to join this game? #{link_to('Login to find out how', login_path)}."

    %p= button_to('Abort Game', game_path(game), :method => :delete, :confirm => 'Are you sure you want to abort this game?') if can_be_aborted(game)

- elsif game.ready?
  .status
    %h4 This game is currently waiting to start. Please check back soon.

- elsif game.finished?
  .status
    %h4= "This game is finished. The <strong>????</strong> won."
