%p To start a new game you must create a village. Create a private game and invite your friends, or create a public game and allow anyone to join. The game will start automatically once the maximum number of players has been met. Or, as the owner of the game, you can log back in to start it manually once the minimum number of players have joined. 

%p Remember, werewolf is more fun with more people!

= error_messages_for(:game)

- form_for(@game) do |f|
  %p
    = f.label(:name, 'Village Name')
    = f.text_field(:name)

  %p
    = f.label(:invite_only, 'Game Type')
    = f.select(:invite_only, [['Open Game', false], ['Invite Only', true]])

  %p
    = f.label(:period_length, 'Period Length')
    = f.select(:period_length, [['10 minutes', 600], ['30 minutes', 1800], ['1 hour', 3600], ['2 hours', 7200], ['4 hours', 14400], ['8 hours', 28800], ['12 hours', 43200]])

  %p
    = f.label(:min_players, 'Minimum Players')
    = f.select(:min_players, [APP_CONFIG[:min_players]], {}, :disabled => true)

  %p
    = f.label(:max_players, 'Maximum Players')
    = f.select(:max_players, (APP_CONFIG[:min_players].to_i..APP_CONFIG[:max_players].to_i).to_a)

  %p= f.submit('Create Game', :class => 'btn')
