%h2= "Game Details: #{@game.name}"

%p This should read like a script :)

%h3 Cast &amp; Crew
%ul.players
  - @game.players.each do |player|
    %li
      = player.user.login
      = ' (DEAD)' if player.dead?

- if @game.setup?
  %p.notice This game has not yet begun.
  %p= button_to('Abort Game', game_path(@game), :method => :delete, :confirm => 'Are you sure you want to abort this game?') if can_be_aborted(@game)

  - if user_can_join(@game)
    %p We're looking for players though. Want to join this game?
    %p= "You've even been invited. So that's like, great." if @game.invitations.includes_user(current_user)
    %p= button_to('Join Game', game_players_path(@game))

  - elsif !@game.invite_only? && logged_in? && @game.players.include?(current_user.active_player)
    %p= "You're scheduled to play in this game, once it starts. Why not #{link_to('invite some of your friends', new_game_invitation_path(@game))} to play too?"

- else
  %h3 The Story
  %ul.story
    - @game.periods.each_with_index do |period, index|
      %li
        %strong= "PERIOD #{index}"
        %p= "Summary goes here!"
