- content_for(:extra_head) do
  = javascript_include_tag('voting')
   
%h2= "Game Details: #{@game.name}"
= error_messages_for(:game)

%p This should read like a script opening scene / synopsis or something?

- if playing_in_game(@game) && @game.playable?
  = render(:partial => 'games/actions', :locals => { :game => @game })
- else
  = render(:partial => 'games/status', :locals => { :game => @game })

%h3 Cast &amp; Crew
#players
  %ul
    %ul 
    - @game.players.each do |player|
      %li.player{:id => "player_#{player.user_id}", :class => "#{'dead' if player.dead?} #{'selected' if current_user.voted_in(@game.current_period) == player.user}"}
        = profile_image(player.user, :width => 48, :height => 48)
        .player-is-dead= "DEAD" if player.dead?
        .name= link_to(player.user.login, twitter_profile_url(player.user), :target => '_blank')
    .clearfix

- if !@game.setup?
  %h3 The Story So Far...
  %ul.story
    = render(:partial => 'games/period', :collection => @game.periods)

- if playing_in_game(@game)
  %p= button_to("Leave Game", game_player_path(@game, current_user), :method => :delete, :confirm => "Are you sure? If you leave this game your player will commit suicide and there's no going back!")
