- if @game.playable?
  - content_for(:extra_head) do
    = render(:partial => 'countdown', :locals => { :game => @game })

%p= "Trouble has come to the sleepy village of <strong>#{h @game.name}</strong>. Someone living amongst the villagers is a <strong>werewolf</strong>, and has been killing poor townsfolk one by one. Who could it be? Villagers must identify and lynch the monster before they all meet untimely deaths!"

= error_messages_for(:game)

%h3 Cast &amp; Crew
#players
  %ul 
    = render(:partial => 'player', :collection => @game.players)

#main
  = render(:partial => "#{@game.state}", :locals => { :game => @game })
#sidebar
  = render(:partial => 'stats', :locals => { :game => @game })
  = render(:partial => 'management', :locals => { :game => @game })
